{% extends 'ejemplo_dos/base.html' %}

{% block contenido %}
    <div>
        <a class="fcc-btn" href="{% url 'ejemplo-dos-index' %}"> << Volver al Inicio </a>
    </div>

{% if user.is_authenticated %}
    <a href="{% url 'vuelocrear' %}">Crear Vuelo</a>
    {% if user.avatar.imagen %}
        <a href="{% url 'ejemplo-dos-avatars-actualizar' user.avatar.id %}">Actualizar Avatar</a>
    {% endif %}
    <a href="{% url 'ejemplo-dos-users-actualizar' user.id %}">Actualizar Perfil</a>
    <a href="{% url 'ejemplo-dos-mensajes-listar' %}">Mensajes</a>
{% endif %}
<ul>
{% for compra in object_list %}
    {% if compras %}
                <!-- Featured blog post-->
                <div class="card mb-4">
                    {% if compras.0 %}
<!--                    <a href="#!"><img class="card-img-top" src="{{compras.0.imagen.url}}" alt="..." /></a>-->
                    <div class="card-body">
                        <div class="small text-muted">Precio: {{compras.compra.precio}} $ARS</div>
                        <h2 class="card-title">{{compras.compra.destinoIda}}</h2>
                        <h2 class="card-title">{{compras.compra.destinoVuelta}}</h2>
                        <p class="card-text">{{compras.compra.fechaPartida}}</p>
                        <p class="card-text">{{compras.compra.fechaArrivo}}</p>

<!--                        <a class="btn btn-primary" href="{% url 'vuelodetalle' compras.compra.id %}">Leer Mas →</a>-->
                    </div>
                    {% endif %}
                </div>
    {% endif %}
    <li>
        {{compra.destinoIda}} - {{compra.fechaPartida}} -->
        {% if user.is_superuser %}
        <a href="{% url 'vueloborrar' compra.id %}">Borrar Vuelo</a>
        <a href="{% url 'vueloactualizar' compra.id %}">Actualizar Vuelo</a>
        {% endif %}
        <a href="{% url 'vuelodetalle' compra.id %}">Ver</a>
        <a href="{% url 'vuelocomprar' compra.id %}">Comprar</a>
    </li>
{% endfor %}
</ul>
{% endblock %}