{% extends 'ejemplo_dos/base.html' %}

{% block contenido %}
<div class="container">
    <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Bienvenidos a DS Travel!</h1>
                    <p class="lead mb-0">Nuevos vuelos disponibles</p>
                </div>
            </div>
        </header>
    <div class="row">
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Busca tu proximo destino!</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Ciudad, Estado, Pais..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Buscar</button>
                    </div>
                </div>
            </div>

            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Atencion!!</div>
                <div class="card-body">Este es un anuncio de oferta. Este es un anuncio de oferta. Este es un anuncio de oferta. Este es un anuncio de oferta. </div>
            </div>
        </div>
        <!-- Blog entries-->
        <div class="col-lg-8">
            {% if vuelos %}
                <!-- Featured blog post-->
                <div class="card mb-4">
                    {% if vuelos.0 %}
<!--                    <a href="#!"><img class="card-img-top" src="{{vuelos.0.imagen.url}}" alt="..." /></a>-->
                    <div class="card-body">
                        <div class="small text-muted">Precio: {{vuelos.0.precio}} $ARS</div>
                        <h2 class="card-title">Ida: {{vuelos.0.destinoIda}}</h2>
                        <h2 class="card-title">Vuelta: {{vuelos.0.destinoVuelta}}</h2>
                        <p class="card-text">Fecha de partida: {{vuelos.0.fechaPartida}}</p>
                        <p class="card-text">Fecha de Arrivo: {{vuelos.0.fechaArrivo}}</p>

                        <a class="btn btn-primary" href="{% url 'vuelodetalle' vuelos.0.id %}">Leer Mas →</a>
                    </div>
                    {% endif %}
                </div>
                <!-- Nested row for non-featured blog vuelos-->
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            {% if vuelos.1 %}
<!--                            <a href="#!"><img class="card-img-top" src="{{vuelos.1.imagen.url}}" alt="..." /></a>-->
                            <div class="card-body">
                                <div class="small text-muted">Precio: {{vuelos.1.precio}} $ARS</div>
                                    <h2 class="card-title">{{vuelos.1.destinoIda}}</h2>
                                    <h2 class="card-title">{{vuelos.1.destinoVuelta}}</h2>
                                    <p class="card-text">{{vuelos.1.fechaPartida}}</p>
                                    <p class="card-text">{{vuelos.1.fechaArrivo}}</p>

                                        <a class="btn btn-primary" href="{% url 'vuelodetalle' vuelos.1.id %}">Leer Mas →</a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Blog post-->
                        <div class="card mb-4">
                            {% if vuelos.2 %}
<!--                            <a href="#!"><img class="card-img-top" src="{{vuelos.2.imagen.url}}" alt="..." /></a>-->
                            <div class="card-body">
                                <div class="small text-muted">Precio: {{vuelos.2.precio}} $ARS</div>
                                    <h2 class="card-title">{{vuelos.2.destinoIda}}</h2>
                                    <h2 class="card-title">{{vuelos.2.destinoVuelta}}</h2>
                                    <p class="card-text">{{vuelos.2.fechaPartida}}</p>
                                    <p class="card-text">{{vuelos.2.fechaArrivo}}</p>

                                        <a class="btn btn-primary" href="{% url 'vuelodetalle' vuelos.2.id %}">Leer Mas →</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            {% if vuelos.3 %}
<!--                            <a href="#!"><img class="card-img-top" src="{{vuelos.3.imagen.url}}" alt="..." /></a>-->
                            <div class="small text-muted">Precio: {{vuelos.3.precio}} $ARS</div>
                                    <h2 class="card-title">{{vuelos.3.destinoIda}}</h2>
                                    <h2 class="card-title">{{vuelos.3.destinoVuelta}}</h2>
                                    <p class="card-text">{{vuelos.3.fechaPartida}}</p>
                                    <p class="card-text">{{vuelos.3.fechaArrivo}}</p>

                                        <a class="btn btn-primary" href="{% url 'vuelodetalle' vuelos.3.id %}">Leer Mas →</a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Blog post-->
                        <div class="card mb-4">
                            {% if vuelos.4 %}
<!--                            <a href="#!"><img class="card-img-top" src="{{vuelos.4.imagen.url}}" alt="..." /></a>-->
                            <div class="small text-muted">Precio: {{vuelos.4.precio}} $ARS</div>
                                    <h2 class="card-title">Ida: {{vuelos.4.destinoIda}}</h2>
                                    <h2 class="card-title">Vuelta: {{vuelos.4.destinoVuelta}}</h2>
                                    <p class="card-text">Fecha de partida: {{vuelos.4.fechaPartida}}</p>
                                    <p class="card-text">Fecha de Arrivo: {{vuelos.4.fechaArrivo}}</p>

                                        <a class="btn btn-primary" href="{% url 'vuelodetalle' vuelos.4.id %}">Leer Mas →</a>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            {% else %}
                <h1>No hay vuelos</h1>
            {% endif %}
            </div>
        <!-- Side widgets-->

    </div>
</div>
{% endblock %}