{% extends 'ejemplo_dos/base.html' %}

{% block contenido %}
<ul>

{% if user.is_authenticated %}
    <li><div>
        <a href="{% url 'ejemplo-dos-users-actualizar' user.id %}">Actualizar Perfil</a>
    </div></li>
    {% if user.is_superuser %}
     <li><div>
        <a href="{% url 'ejemplo-dos-mensajes-listar' %}">Mensajes Recibidos</a>
    </div></li>
    <li><div>
        <a href="{% url 'vuelocrear' %}">Crear Vuelos</a>
    </div></li>
    {% endif %}
{% endif %}
    </ul>

{% endblock %}