{% extends 'ejemplo_dos/base.html' %}

{% block contenido %}
<h3> Destino: {{object.destinoIda}}</h3>
<p class="card-title">Vuelta: {{object.destinoVuelta}}</p>
<p class="card-text">Fecha de Partida: {{object.fechaPartida}}</p>
<p class="card-text">Fecha de Arrivo: {{object.fechaArrivo}}</p>
<p class="card-text">Hora de Partida: {{object.horaPartida}}</p>
<p class="card-text">Hora de Arrivo: {{object.horaArrivo}}</p>
<h1 class="small text-muted">Precio: {{object.precio}} $ARS</h1>

 <div>
        <a class="btn btn-primary" href="{% url 'ejemplo-dos-index' %}">Volver</a>
        <a class="btn btn-primary" href="{% url 'vuelocomprar' vuelo.id %}">Comprar</a>
    </div>

{% endblock %}
